<!DOCTYPE html>
<html lang="tr" th:xmllang="tr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/kitapcidayi.css}">
</head>
<body>

<div class="header_container">
    <header th:replace="fragments/headerfooter::common-header">Header</header>
    <div class="hello_area form-area user_add fix">

        <div th:if="${param.error}">
            <div class="error-msg">
                <i class="fa fa-check"></i>
                Invalid username or password.
            </div>
        </div>
        <div th:if="${param.logout}">
            <div class="success-msg">
                <i class="fa fa-check"></i>
                You have been successfully logged out.
            </div>
        </div>
        <div class="giris_area">
            <h2>Login</h2>
            <p>Please confirm your identity.</p>
        </div>

        <form th:action="@{/login}" method="post">
            <label>UserName</label>
            <input type="text" name="username" id="username" placeholder="Enter Your E-mail" autofocus="autofocus" required oninput="return(validateEmail());">
            <span class="mail-error fail"></span>
            <label>Password</label>
            <input type="password" name="password" id="password" placeholder="Enter Your Password">

            <input type="submit" value="Login">
            <p style="font-size: 14px; text-align: center; margin: 0px">New user ? <a style="color: #ee443b" href="/registration" th:href="@{/registration}">Register here</a> </p>
        </form>
    </div>
</div>

<footer th:replace="fragments/headerfooter::common-footer">Footer</footer>

<script type="text/javascript" th:src="@{/js/app.js}"></script>
</body>
</html>